/*** BASICS/RESET ***/

@font-face {
  font-family: "Eina03-Bold";
  src: url("../assets/fonts/Eina03-Bold.ttf") format("truetype");
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing:border-box;
}

body {
  font-family:sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0 auto;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  color: #000;
}

h1, h2, p, a, ul, li {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: normal;
}

h1 {
  font-size: 56px;
  line-height:72px;
  font-family: "Eina03-Bold";
  font-weight: normal;
  color:#000;
}

h2 {
  font-size: 32px;
  line-height: 48px;
  font-family: "Eina03-Bold";
  font-weight: normal;
  color:#000;
}

h3 {
  font-size: 24px;
  line-height: 40px;
  font-family: "Eina03-Bold";
  font-weight: normal;
  color:#000;
}

p {
  font-size: 16px;
  line-height: 32px;
  font-family:sans-serif;
  font-weight: normal;
  color:#000;
}

a {
  text-decoration: none;
  font-size: 14px;
  line-height: 32px;
  font-family:sans-serif;
  font-weight: normal;
  cursor: pointer;
}

/*** BASICS/RESET END ***/


/*** MAIN CONTENT ***/

nav {
  background: transparent;
  position: absolute;
  width: 100%;
  z-index: 9999;
}

nav ul {
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding: 1rem 2rem;
}

nav ul li {
  list-style-type: none;
  align-self: center;
  padding: 1rem 2rem;
}

nav ul li a {
  text-decoration: none;
  color: #000;
  display: inline-block;
  border-bottom: 2px solid transparent;
}
nav ul li a.link:hover {
  border-bottom: 2px solid #4878F2;
  transition: all 0.2s ease-in-out;
  color:#4878F2;
}

nav ul li:first-child {
  margin-right: auto;
}

nav ul li:last-child {
  margin-left: auto;
}

a.logo {
  display: flex;
  align-items: center;
}

a.logo img {
  width: 110px;
}


.btn {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background: #4878F2;
  color: #fff;
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
}
.btn:hover {
  background: #3662D1;
  color:#FFF;
}

.small {
  width: 128px;
  height: 40px;
}

.large {
  width: 160px;
  height: 48px;
}


/*** MAIN CONTENT END ***/

/*** SECTIONS ***/


/** SEC 1 **/

#sec1 {
  background-image: url(../assets/img/hero-bg.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  padding: 2rem 1rem;
  position: relative;
}

#sec1 header {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding:1rem 3rem;
}

#sec1 header h1{
  font-family: "Eina03-Bold";
  padding-right: 65%;
  padding-top: 10rem;
}

#sec1 header p {
  font-size: 18px;
  line-height:24px;
  padding-right: 60%;
  padding-top: 1rem;
  margin-bottom: 2rem;
}

.notifications_01 .twitter {
  position: absolute;
  right:32%;
  top:40%;
  opacity:0;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation: fade 3s  cubic-bezier(1, -0.01, 0.4, 0.97);
  animation: fade 3s cubic-bezier(1, -0.01, 0.4, 0.97);
}

.notifications_01 .instagram {
  position: absolute;
  right:4%;
  top:60%;
  opacity:0;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation: fade 3.5s cubic-bezier(1, -0.01, 0.4, 0.97);
          animation: fade 3.5s cubic-bezier(1, -0.01, 0.4, 0.97);
}

.notifications_01 .facebook {
  position: absolute;
  right:32%;
  top:70%;
  opacity:0;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation: fade 4s cubic-bezier(1, -0.01, 0.4, 0.97);
          animation: fade 4s cubic-bezier(1, -0.01, 0.4, 0.97);
}

.notifications_01 .snapchat {
  position: absolute;
  right:4%;
  bottom:60%;
  opacity:0;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation: fade 4.5s cubic-bezier(1, -0.01, 0.4, 0.97);
          animation: fade 4.5s cubic-bezier(1, -0.01, 0.4, 0.97);
}


@-webkit-keyframes fade {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

/** SEC 2 **/

#sec2 {
  background-color: #FFF;
  padding: 5rem 1rem 8rem 1rem;
}
.func-container {
  width: 100%;
  height: 100%;
}
/* SOMNIABOX */
.func-somniabox {
  float: left;
  width: 50%;
}
.func-somniabox header {
  text-align: left;
  padding:8rem 3rem 3rem 3rem;
}

.func-somniabox header h2 {
  font-family: "Eina03-Bold";
  padding-right: 40%;
  margin-bottom:1.5rem;
}
.func-somniabox ul {
  padding: 0 4rem;
}

.func-somniabox ul li {
  margin-bottom: 34px;
  font-size: 16px;
  line-height: 32px;
  list-style: none;
  text-align: left;
  display: flex;
  flex-direction: row;

}
.func-somniabox ul li::before {
  color:#4878F2;
  content: '• ';
  font-weight: bold;
  display: inline-block;
  margin-left:-.5em;
  margin-right: .5em;
  font-size: 2.5em;
  width:auto;
}

.about_img_01 {
  float: right;
  width: 50%;
  display: flex;
  justify-content: flex-end;
  padding:8rem 3rem 3rem 3rem;
}

.about_img_01 img {
  width: 75%;
  -o-object-fit: contain;
     object-fit: contain;
}

/* SOMNIA APP */

.func-somniaapp {
  float: right;
  width: 50%;
}
.func-somniaapp header {
  text-align: left;
  padding:8rem 3rem 3rem 3rem;
}

.func-somniaapp header h2 {
  font-family: "Eina03-Bold";
  padding-right: 40%;
  margin-bottom:1.5rem;
}
.func-somniaapp ul {
  padding: 0 4rem;
}

.func-somniaapp ul li {
  margin-bottom: 34px;
  font-size: 16px;
  line-height: 32px;
  list-style: none;
  text-align: left;
  display: flex;
  flex-direction: row;

}
.func-somniaapp ul li::before {
  color:#4878F2;
  content: '• ';
  font-weight: bold;
  display: inline-block;
  margin-left:-.5em;
  margin-right: .5em;
  font-size: 2.5em;
  width:auto;
}

.about_img_02 {
  float: left;
  width: 50%;
  display: flex;
  justify-content: flex-start;
  padding:10rem 3rem 3rem 3rem;
}

.about_img_02 img {
  width: 90%;
  -o-object-fit: contain;
     object-fit: contain;
}

/** SEC 3 **/

#sec3 {
  background-color: #FFF;
  padding: 2rem 1rem 8rem 1rem;
}
.video {
  width: 90%;
  display: block;
  margin: 0 auto;
  height: 650px;
  position: relative;
}
#video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}



/** SEC 4**/

#sec4 {
  background-color: #FFF;
  padding: 2rem 1rem 8rem 1rem;
}

#sec4 header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding:1rem 3rem;
}

#sec4 header h2 {
  font-size: 48px;
  line-height:64px;
  font-family: "Eina03-Bold";
  font-weight: normal;
  color:#000;
}

#sec4 header p {
  padding:2rem 25%;
}

#sec4 img {
  display: block;
  margin: 0 auto;
  margin-top: 5rem;
  width: 90%;
}



/** SEC 5**/

#sec5 {
  background-color: #FFF;
  padding: 2rem 1rem 8rem 1rem;
  position: relative;
}

#sec5 header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding:1rem 3rem;
}

#sec5 header h2 {
  font-size: 48px;
  line-height:64px;
  font-family: "Eina03-Bold";
  font-weight: normal;
  color:#000;
}

#sec5 header p {
  padding:2rem 30%;
}

#sec5 header .order_btn {
  display: flex;
  align-items: center;
  background: #4878F2;
  color: #fff;
  margin-top:2rem;
  font-size: 18px;
  padding: 1.25rem 4.5rem;
  border-radius: 100px;
  transition: all 0.2s ease-in-out;
}

#sec5 header .order_btn:hover {
background: #3662D1;
color:#FFF;
}

/* SLIDEHSOW */

.slideshow_container{
  max-width: 750px;
  position: relative;
  margin: auto;
}

.foto_slides {
  display: none;
}
.foto_slides img {
  vertical-align: middle;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.dot_container {
  display: flex;
  justify-content:space-around;
  align-items: center;
  flex-direction: row;
  flex-flow: row wrap;
  font-weight: bold;
  text-align: center;
  width:200px;
  margin:0px auto;
  background: #000;
  border-radius:100px;
  padding: 1rem;
}
.dot {
  cursor: pointer;
  height: 8px;
  width:8px;
  background-color: #FFF;
  border-radius:100px;
  display: inline-block;
}

.dot_active, .dot:hover {
  background-color: #4878F2;
  height: 12px;
  width: 12px;
  border-radius:100px;
}

/*** SECTIONS END ***/


/*** FOOTER ***/

footer {
  padding:5rem 2rem 3rem 2rem;
  background: #FFF;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  border-top: 1px solid #D2D2D2;
}
.col-left {
  margin-bottom: auto;
}
.col-left img {
  width:175px;
}
.col-left p {
  margin-top:1rem;
}
.col-middle {
  margin-bottom: auto;
}
.col-middle ul {
  display: inline-block;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.col-middle ul li {
  font-weight: 700;
  color:#000;
  margin-bottom:1rem;
}
.col-middle ul li a {
  color: #000;
  transition: all 0.2s ease-in-out;
}
.col-middle ul li a:hover {
  color:#999;
}


.col-right {
  margin-bottom: auto;
}

.col-right ul {
  display:flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.col-right span{
  font-weight: 700;
  color:#000;
  margin-bottom:1rem;
}

.col-right ul li a {
  width: 50px;
  height: 50px;
  margin-right: 1rem;
  margin-top: 1rem;
  display:inline-flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #4878F2;
  border-radius: 100px;
  transition: all 0.2s ease-in-out;
}
.col-right ul li a:hover {
  background: #3662D1;
}

.tw {
  width: 40%;
  -o-object-fit: cover;
  object-fit: cover;
}
.ig {
  width: 30%;
  -o-object-fit: cover;
  object-fit: cover;
}
.fb {
  width: 25%;
  -o-object-fit: cover;
  object-fit: cover;
}
.li {
  width: 30%;
  -o-object-fit: cover;
  object-fit: cover;
}

/*** FOOTER END ***/
